*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url(../a3.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
}

.cal-box{
    position: absolute;
    top: 20%;
    padding: 25px;
    border: 1px solid rgba(255, 255, 255, 0.332);
    border-radius: 8px;
    background-color: rgba(245, 238, 169, 0.943);
}
.cal-top{
    padding-left: 10px;
    padding-right: 10px;
}

input{
    padding: 5px;
    text-align: right;
    border: none;
    width: 100%;
    height: 40px;
}
.cal-bottom{
    display: grid;
    grid-template-columns: repeat(4,100px);
    padding: 10px;
    gap: 8px;
}
.btn{
    padding: 5px;
    background-color: rgba(31, 30, 30, 0.636);
    color: white;
    border:none;
}
.w{
    background-color: rgba(6, 155, 168, 0.634);
}
.footer{
    text-align: center;
    width: 100%;
    padding: 10px;
    bottom: 0;
    position: fixed;
    background-color: black;
    color: white;
}
#mode{
    position: absolute;
    right: 20px;
    top: 20px;
    margin: 10px 5px 5px 5px;
    padding: 10px;

}
#modeChange{
    padding: 5px;
    background-color: rgba(240, 238, 238, 0.459);
    border: none;
    border-radius: 3px;
}
@media (max-width: 500px){
    .cal-bottom{
        grid-template-columns: repeat(4,50px);
    }
}
